<section class="tours-block musics-link-block">
    <div class="tours-block__inner">
        <div class="tours-block__music">
            <div class="tours-block__music-title">Our music:</div>
            <div class="tours-block__music-links">
                <div class="tours-block__music-item">
                    <a href="#">
                        <img src="img/fb_icon.png" alt="fb_icon">
                    </a>
                </div>
                <div class="tours-block__music-item">
                    <a href="https://www.youtube.com/@Namgar/videos">
                        <img src="img/yt_icon.png" alt="yt_icon">
                    </a>
                </div>
                <div class="tours-block__music-item">
                    <a href="#">
                        <img src="img/vk_icon.png" alt="vk_icon">
                    </a>
                </div>
                <div class="tours-block__music-item">
                    <a href="#">
                        <img src="img/cloud_icon.png" alt="cloud_icon">
                    </a>
                </div>
                <div class="tours-block__music-item">
                    <a href="#">
                        <img src="img/insta_icon.png" alt="insta_icon">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="site-footer" id="footer">
    <div class="site-footer__inner">
        <div class="site-footer__contacts">
            <div class="site-footer__contacts-column">
                <div class="site-footer__contacts-title">
                    <div class="title">Booking in Europe and Worldwide</div>
                    <div class="desc">Juliana Voloz</div>
                </div>
                <div class="site-footer__mails">
                    <div class="site-footer__mails-item">
                        <a href="mailto:www.jv-promotion.com">www.jv-promotion.com</a>
                    </div>
                    <div class="site-footer__mails-item">
                        <a href="mailto:info@jv-promotion.com">info@jv-promotion.com</a>
                    </div>
                </div>
                <div class="site-footer__phones">
                    <div class="site-footer__phones-item">
                        <a href="tel:+49 (0) 7151 930794">tel: +49 (0) 7151 930794</a>
                    </div>
                    <div class="site-footer__phones-item">
                        <a href="tel:+49 (0) 174 3147022">mob: +49 (0) 174 3147022</a>
                    </div>
                </div>
            </div>
            <div class="site-footer__contacts-column">
                <div class="site-footer__contacts-title">
                    <div class="title">Booking in Japan</div>
                    <div class="desc">Kou Koiwa</div>
                </div>
                <div class="site-footer__mails">
                    <div class="site-footer__mails-item">
                        <a href="mailto:http://www.harmony-fields.com">http://www.harmony-fields.com</a>
                    </div>
                    <div class="site-footer__mails-item">
                        <a href="mailto:info@harmony-fields.com">info@harmony-fields.com</a>
                    </div>
                </div>
                <div class="site-footer__phones">
                    <div class="site-footer__phones-title">Office adress:</div>
                    <div class="site-footer__phones-item">
                        <span>〒663-8114 兵庫県西宮市上甲子園2丁目14-29</span>
                    </div>
                    <div class="site-footer__phones-item">
                        <a href="tel:0798-42-8070">tel: 0798-42-8070</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-footer__copyright">Namgar 2026</div>
    </div>
</footer>
</div>
<div class="burger-menu">
    <div class="burger-menu__closer">
        <a href="javascript:void(0);">
            <svg xmlns="http://www.w3.org/2000/svg" width="11.84" height="11.812" viewBox="0 0 11.84 11.812">
                <path d="M1091.92,347.374l-4.21,4.209a0.991,0.991,0,0,1-1.4-1.4l4.21-4.209-4.21-4.209a0.993,0.993,0,0,1,1.38-1.427,0.041,0.041,0,0,1,.02.025l9.81,9.82a0.991,0.991,0,1,1-1.4,1.4Zm4.2-7.013a0.993,0.993,0,0,1,1.43,1.377l-0.03.024-2.73,2.738a0.991,0.991,0,0,1-1.4-1.4Z" transform="translate(-1086 -340.063)"/>
            </svg>
        </a>
    </div>
    <div class="burger-menu__inner">
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox/fancybox.umd.js"></script>
<script src="js/lenis.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>