<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lightgallery.min.css" integrity="sha512-F2E+YYE1gkt0T5TVajAslgDfTEUQKtlu4ralVq78ViNxhKXQLrgQLLie8u1tVdG2vWnB3ute4hcdbiBtvJQh0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/css/swiper.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox/fancybox.css" />
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="site-wrapper">
        <header class="site-header">
            <div class="site-header__inner">
                <div class="site-header__site-name">
                    <a href="/">Namgar</a>
                </div>
                <div class="site-header__header-menu">
                    <nav>
                        <ul>
                            <li><a href="/">tour</a></li>
                            <li><a href="/photo.html">photo</a></li>
                            <li><a href="/bio.html">bio</a></li>
                            <li><a href="/press_kit.html">press</a></li>
                            <li><a href="#footer">contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="site-header__burger-btn">
                    <a href="javascript:void(0);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 6a1 1 0 011-1h16a1 1 0 110 2H4a1 1 0 01-1-1zm0 6a1 1 0 011-1h16a1 1 0 110 2H4a1 1 0 01-1-1zm1 5a1 1 0 100 2h10a1 1 0 100-2H4z" fill="#000"/></svg>
                    </a>
                </div>
            </div>
        </header>

        <section class="first-block">
            <div class="first-block__inner">
                <div class="first-block__image">
                    <picture class="picture header">
                        <source media="(min-width: 641px)" srcset="img/first-block-bg.png">
                        <source media="(max-width: 640px)" srcset="img/header-mob-img.png">
                        <img src="img/first-block-bg.png" alt="first-block-bg">
                    </picture>
                    <section class="our-music header-music-block">
                        <div class="our-music__inner">
                            <div class="our-music__right">
                                <div class="our-music__text">
                                    <div class="our-music__title">Our Music</div>
                                    <div class="our-music__desc">Listen <b>NAMGAR</b> on different services</div>
                                </div>
                                <div class="our-music__socials">
                                    <div class="our-music__socials-item">
                                        <a href="#">
                                            <img src="img/fb_icon.png" alt="fb_icon">
                                        </a>
                                    </div>
                                    <div class="our-music__socials-item">
                                        <a href="https://www.youtube.com/@Namgar/videos">
                                            <img src="img/yt_icon.png" alt="yt_icon">
                                        </a>
                                    </div>
                                    <div class="our-music__socials-item">
                                        <a href="#">
                                            <img src="img/vk_icon.png" alt="vk_icon">
                                        </a>
                                    </div>
                                    <div class="our-music__socials-item">
                                        <a href="#">
                                            <img src="img/cloud_icon.png" alt="cloud_icon">
                                        </a>
                                    </div>
                                    <div class="our-music__socials-item">
                                        <a href="#">
                                            <img src="img/insta_icon.png" alt="insta_icon">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="first-block__text-block">
                    <div class="first-block__text-top">
                        <div class="first-block__pre-title">Buryat-Mongolian Band </div>
                        <div class="first-block__title">Namgar</div>
                        <div class="first-block__types">
                            <div class="first-block__types-item">Ethno</div>
                            <div class="first-block__types-item">Folk</div>
                            <div class="first-block__types-item">Traditional</div>
                            <div class="first-block__types-item">Art-Rock</div>
                        </div>
                    </div>
                    <div class="first-block__text">
                        For 10 years Namgar has been performing all over <br>the world at major international festivals, captivating <br>the audience with the versatility and depth of Buryat <br>folk songs. An authentic voice, mastery of different singing <br>styles and carefulattitude to folk material made Namgar <br>a unique keeper of traditional Buryat-Mongolian music.
                    </div>
                </div>
            </div>
        </section>

    