include _header.jade

<section class="our-team-block">
    <div class="our-team-block__inner">
        <div class="our-team-block__title">our team</div>
        <div class="our-team-block__list">
            <div class="our-team-block__item">
                <div class="our-team-block__item-image">
                    <img src="img/our-team1.png" alt="">
                </div>
                <div class="our-team-block__item-text">
                    <div class="our-team-block__item-title">NAMAGAR</div>
                    <div class="our-team-block__item-desc">vocal/yataga</div>
                </div>
            </div>
            <div class="our-team-block__item">
                <div class="our-team-block__item-image">
                    <img src="img/our-team2.png" alt="">
                </div>
                <div class="our-team-block__item-text">
                    <div class="our-team-block__item-title">Jipo</div>
                    <div class="our-team-block__item-desc">chanza/bass</div>
                </div>
            </div>
            <div class="our-team-block__item">
                <div class="our-team-block__item-image">
                    <img src="img/our-team3.png" alt="">
                </div>
                <div class="our-team-block__item-text">
                    <div class="our-team-block__item-title">ALEX</div>
                    <div class="our-team-block__item-desc">drums</div>
                </div>
            </div>
            <div class="our-team-block__item">
                <div class="our-team-block__item-image">
                    <img src="img/our-team4.png" alt="">
                </div>
                <div class="our-team-block__item-text">
                    <div class="our-team-block__item-title">Teemur</div>
                    <div class="our-team-block__item-desc">guitar</div>
                </div>
            </div>
            <div class="our-team-block__item">
                <div class="our-team-block__item-image">
                    <img src="img/our-team5.png" alt="">
                </div>
                <div class="our-team-block__item-text">
                    <div class="our-team-block__item-title">GENA</div>
                    <div class="our-team-block__item-desc">violin/acoustic guitar</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-block">
    <div class="about-block__inner">
        <div class="about-block__title">about us</div>
        <div class="about-block__body">
            <div class="about-block__left">
                <div class="about-block__slider swiper">
                    <div class="swiper-wrapper">
                        <div class="about-block__slider-item swiper-slide">
                            <img src="img/about-slider-item.png" alt="about-slider-item">
                        </div>
                        <div class="about-block__slider-item swiper-slide">
                            <img src="img/about-slider-item.png" alt="about-slider-item">
                        </div>
                    </div>
                    <div class="about-block__slider-nav">
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="about-block__right">
                
                <div class="about-block__tabs">
                    <div class="about-block__tabs-titles">
                        <div class="about-block__tabs-title">
                            <a href="javascript:void(0);" class="active">2003</a>
                            <div class="about-block__tabs-arrow-mobile">
                                <svg width="21" height="25" viewBox="0 0 21 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 12.1244L-1.14193e-06 24.2487L-8.1987e-08 3.34143e-05L21 12.1244Z" fill="#E93DC3"/>
                                </svg>
                            </div>
                        </div>
                        <div class="about-block__tabs-title">
                            <a href="javascript:void(0);">2010</a>
                            <div class="about-block__tabs-arrow-mobile">
                                <svg width="21" height="25" viewBox="0 0 21 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 12.1244L-1.14193e-06 24.2487L-8.1987e-08 3.34143e-05L21 12.1244Z" fill="#E93DC3"/>
                                </svg>
                            </div>
                        </div>
                        <div class="about-block__tabs-title">
                            <a href="javascript:void(0);">2014</a>
                            <div class="about-block__tabs-arrow-mobile">
                                <svg width="21" height="25" viewBox="0 0 21 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 12.1244L-1.14193e-06 24.2487L-8.1987e-08 3.34143e-05L21 12.1244Z" fill="#E93DC3"/>
                                </svg>
                            </div>
                        </div>
                        <div class="about-block__tabs-title">
                            <a href="javascript:void(0);">2020</a>
                            <div class="about-block__tabs-arrow-mobile">
                                <svg width="21" height="25" viewBox="0 0 21 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 12.1244L-1.14193e-06 24.2487L-8.1987e-08 3.34143e-05L21 12.1244Z" fill="#E93DC3"/>
                                </svg>
                            </div>
                        </div>
                        <div class="about-block__tabs-title">
                            <a href="javascript:void(0);">2025</a>
                            <div class="about-block__tabs-arrow-mobile">
                                <svg width="21" height="25" viewBox="0 0 21 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 12.1244L-1.14193e-06 24.2487L-8.1987e-08 3.34143e-05L21 12.1244Z" fill="#E93DC3"/>
                                </svg>
                            </div>
                        </div>
                        <div class="about-block__tabs-arrow">
                            <svg width="21" height="25" viewBox="0 0 21 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21 12.1244L-1.14193e-06 24.2487L-8.1987e-08 3.34143e-05L21 12.1244Z" fill="#E93DC3"/>
                            </svg>
                        </div>
                    </div>
                    <div class="about-block__tabs-bodies">
                        <div class="about-block__tabs-body active">
                            <p>Namgar is an international ethno collective, fusing traditional Buryat and Mongolian music with elements of pop, jazz, folk, ambient soundscapes and art-rock that doesn't sound quite like anything else. Lhasaranova's impressive vocal range can go from playful and childlike to gigantic and soaring within the space of a few minutes.</p>
                            <p>Formed by producer Artur Pilyavin and musician Evgenii Zolotarev, the band has been successfully touring around the world since 2010.</p>
                            <p>The debut album was released in 2003 in Moscow. Since then the band has 6 albums.The last album "Nayan Navaa" in 2021 topped the charts of international music - Transglobal World Music, took first places in the charts as the best album, was nominated by the magazine Songlines as one of the best Asian albums of 2021.<br>The album received an excellent reviews on radio, online and in printed media.</p>
                        </div>
                        <div class="about-block__tabs-body">
                            <p>Namgar is an international ethno collective, fusing traditional Buryat and Mongolian music with elements of pop, jazz, folk, ambient soundscapes and art-rock that doesn't sound quite like anything else. Lhasaranova's impressive vocal range can go from playful and childlike to gigantic and soaring within the space of a few minutes.</p>
                        </div>
                        <div class="about-block__tabs-body">
                            <p>Formed by producer Artur Pilyavin and musician Evgenii Zolotarev, the band has been successfully touring around the world since 2010.</p>
                        </div>
                        <div class="about-block__tabs-body">
                            <p>The debut album was released in 2003 in Moscow. Since then the band has 6 albums.The last album "Nayan Navaa" in 2021 topped the charts of international music - Transglobal World Music, took first places in the charts as the best album, was nominated by the magazine Songlines as one of the best Asian albums of 2021.<br>The album received an excellent reviews on radio, online and in printed media.</p>
                        </div>
                        <div class="about-block__tabs-body">
                            <p>Formed by producer Artur Pilyavin and musician Evgenii Zolotarev, the band has been successfully touring around the world since 2010.</p>
                            <p>Formed by producer Artur Pilyavin and musician Evgenii Zolotarev, the band has been successfully touring around the world since 2010.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tours-block">
    <div class="tours-block__inner">
        <div class="tours-block__image">
            <img src="img/tours-block-bg.png" alt="tours-block-bg">
        </div>
        <div class="tours-block__columns">
            <div class="tours-block__column">
                <div class="tours-block__column-title">Tour 2025</div>
                <div class="tours-block__list">
                    <div class="tours-block__item">
                        <a href="#">14.12-ChinaChic.Guangdong</a>
                    </div>
                    <div class="tours-block__item">
                        <a href="#">18.10-Hear here fest</a>
                    </div>
                    <div class="tours-block__item">
                        <a href="#">15.10-Okinawa.Japan</a>
                    </div>
                    <div class="tours-block__item">
                        <a href="#">13.10-WMF fest</a>
                    </div>
                    <div class="tours-block__item">
                        <a href="#">10.10-WMF fest Taiwan</a>
                    </div>
                    <!-- <div class="tours-block__more-btn">
                        <a href="javascript:void(0);">See All</a>
                    </div> -->
                </div>
            </div>
            <div class="tours-block__column">
                <div class="tours-block__column-title">Tour 2026</div>
                <div class="tours-block__list">
                    <div class="tours-block__item">
                        <a href="#">14.12-ChinaChic.Guangdong</a>
                    </div>
                    <div class="tours-block__item">
                        <a href="#">18.10-Hear here fest</a>
                    </div>
                    <div class="tours-block__item">
                        <a href="#">15.10-Okinawa.Japan</a>
                    </div>
                    <div class="tours-block__item">
                        <a href="#">13.10-WMF fest</a>
                    </div>
                    <div class="tours-block__item">
                        <a href="#">10.10-WMF fest Taiwan</a>
                    </div>
                    <!-- <div class="tours-block__more-btn">
                        <a href="javascript:void(0);">See All</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

include _footer.jade