include _header.jade

<section class="our-music">
    <div class="our-music__inner">
        <div class="our-music__image">
            <picture class="picture header">
                <source media="(min-width: 641px)" srcset="img/our-music-image.png">
                <source media="(max-width: 640px)" srcset="img/our-music-mob.png">
                <img src="img/our-music-image.png" alt="our-music-image">
            </picture>
        </div>
        <div class="our-music__right">
            <div class="our-music__text">
                <div class="our-music__title">Our Music</div>
                <div class="our-music__desc">Listen <b>NAMGAR</b> on different services</div>
            </div>
            <div class="our-music__socials">
                <div class="our-music__socials-item">
                    <a href="#">
                        <img src="img/fb_icon.png" alt="fb_icon">
                    </a>
                </div>
                <div class="our-music__socials-item">
                    <a href="https://www.youtube.com/@Namgar/videos">
                        <img src="img/yt_icon.png" alt="yt_icon">
                    </a>
                </div>
                <div class="our-music__socials-item">
                    <a href="#">
                        <img src="img/vk_icon.png" alt="vk_icon">
                    </a>
                </div>
                <div class="our-music__socials-item">
                    <a href="#">
                        <img src="img/cloud_icon.png" alt="cloud_icon">
                    </a>
                </div>
                <div class="our-music__socials-item">
                    <a href="#">
                        <img src="img/insta_icon.png" alt="insta_icon">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery-block">
    <div class="gallery-block__inner">
        <div class="gallery-block__grid">
            <div class="gallery-block__item">
                <div class="gallery-block__img-wrap">
                    <a href="img/about1.png" data-fancybox="gallery">
                        <img class="gallery-block__img" src="img/about1.png" alt="Concert performer with bass" />
                    </a>
                </div>
            </div>
            <div class="gallery-block__item">
                <div class="gallery-block__img-wrap">
                    <a href="img/concert.png" data-fancybox="gallery">
                        <img class="gallery-block__img" src="img/concert.png" alt="Concert performer with bass" />
                    </a>
                </div>
            </div>
            <div class="gallery-block__item">
                <div class="gallery-block__img-wrap">
                    <a href="img/about2.png" data-fancybox="gallery">
                        <img class="gallery-block__img" src="img/about2.png" alt="Concert performer with bass" />
                    </a>
                </div>
            </div>
            <div class="gallery-block__item">
                <div class="gallery-block__img-wrap">
                    <a href="img/tours-block-bg.png" data-fancybox="gallery">
                        <img class="gallery-block__img" src="img/tours-block-bg.png" alt="Concert performer with bass" />
                    </a>
                </div>
            </div>
            <div class="gallery-block__item">
                <div class="gallery-block__img-wrap">
                    <a href="img/our-team4.png" data-fancybox="gallery">
                        <img class="gallery-block__img" src="img/our-team4.png" alt="Concert performer with bass" />
                    </a>
                </div>
            </div>
            <div class="gallery-block__item">
                <div class="gallery-block__img-wrap">
                    <a href="img/about3.png" data-fancybox="gallery">
                        <img class="gallery-block__img" src="img/about3.png" alt="Concert performer with bass" />
                    </a>
                </div>
            </div>
            <div class="gallery-block__item">
                <div class="gallery-block__img-wrap">
                    <a href="img/concert2.png" data-fancybox="gallery">
                        <img class="gallery-block__img" src="img/concert2.png" alt="Concert performer with bass" />
                    </a>
                </div>
            </div>
            <div class="gallery-block__item">
                <div class="gallery-block__img-wrap">
                    <a href="img/ping-img.png" data-fancybox="gallery">
                        <img class="gallery-block__img" src="img/ping-img.png" alt="Concert performer with bass" />
                    </a>
                </div>
            </div>
            <div class="gallery-block__item">
                <div class="gallery-block__img-wrap">
                    <a href="img/our-team5.png" data-fancybox="gallery">
                        <img class="gallery-block__img" src="img/our-team5.png" alt="Concert performer with bass" />
                    </a>
                </div>
            </div>
            <div class="gallery-block__item">
                <div class="gallery-block__img-wrap">
                    <a href="img/our-team3.png" data-fancybox="gallery">
                        <img class="gallery-block__img" src="img/our-team3.png" alt="Concert performer with bass" />
                    </a>
                </div>
            </div>
            <div class="gallery-block__item">
                <div class="gallery-block__img-wrap">
                    <a href="img/group-img.png" data-fancybox="gallery">
                        <img class="gallery-block__img" src="img/group-img.png" alt="Concert performer with bass" />
                    </a>
                </div>
            </div>
            <div class="gallery-block__item">
                <div class="gallery-block__img-wrap">
                    <a href="img/our-team1.png" data-fancybox="gallery">
                        <img class="gallery-block__img" src="img/our-team1.png" alt="Concert performer with bass" />
                    </a>
                </div>
            </div>
            <div class="gallery-block__item">
                <div class="gallery-block__img-wrap">
                    <a href="img/our-team2.png" data-fancybox="gallery">
                        <img class="gallery-block__img" src="img/our-team2.png" alt="Concert performer with bass" />
                    </a>
                </div>
            </div>
            <div class="gallery-block__item">
                <div class="gallery-block__img-wrap">
                    <a href="img/group-img2.png" data-fancybox="gallery">
                        <img class="gallery-block__img" src="img/group-img2.png" alt="Concert performer with bass" />
                    </a>
                </div>
            </div>
            <div class="gallery-block__item">
                <div class="gallery-block__img-wrap">
                    <a href="img/about5.png" data-fancybox="gallery">
                        <img class="gallery-block__img" src="img/about5.png" alt="Concert performer with bass" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

include _footer.jade